<mat-card appearance="outlined">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="text-align: center;">
          <mat-expansion-panel-header>
            <mat-panel-title> <img style="margin-right: 10px;" [src]="'assets/icons/github-brands-solid.svg'" alt="" /> Github
              <div *ngIf="connectedUser">
                <img style="margin-left: 10px;" [src]="'assets/icons/check.svg'" alt="Edit" />      
                <img style="margin-left: 10px;" [src]="'assets/icons/history.png'" width="15" height="15" alt="Edit" />      
              </div>
            </mat-panel-title>
            <mat-panel-description class="mat-panal-description" *ngIf="connectedUser">
                {{connectedUser.data.name}} : Last Synced : {{getDate(connectedUser.data.created_at)}} <br>
                Sync Type : full
            </mat-panel-description>
          </mat-expansion-panel-header>
          <button *ngIf="!connectedUser" mat-stroked-button (click)="connect()" class="connect-disconnect-button">Connect</button>
          <div *ngIf="connectedUser" style="text-align: end;">
            <button mat-stroked-button class="connect-disconnect-button" (click)="disconectUser(connectedUser.data.accessToken)">Remove
              <img [src]="'assets/icons/incognito.png'" width="15" height="15" alt="Edit" />      
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type = "square-jelly-box"
  [fullScreen] = "true"
>
<img style="margin-left: 10px;" [src]="'assets/icons/loading.gif'" width="30" height="30" alt="Edit" />
</ngx-spinner>
  
