<mat-card appearance="outlined">
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" style="text-align: center;">
          <mat-expansion-panel-header>
            <mat-panel-title> <img [src]="'assets/icons/github-brands-solid.svg'" alt="" /> Github  <img [src]="'assets/icons/check.svg'" alt="Edit" />
            </mat-panel-title>
            <mat-panel-description style="text-align: end;
      display: block">
                Admin : Last Synced : {{currentDate}} <br>
                Sync Type : full
            </mat-panel-description>
          </mat-expansion-panel-header>
          <button *ngIf="true" mat-stroked-button (click)="connect()" style="background-color: #005cbb; color: white;">Connect</button>
          <div *ngIf="false" style="text-align: end;" (click)="connect()">
            <button mat-stroked-button style="background-color: #005cbb; color: white;">Remove</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  
